html,
body {
    height: 100%;
    margin: 0;
}

/* #map {
    width: 600px;
    height: 400px;
} */

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    width: 100vw;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.disasterLabels {
    border-radius: 10px;
    font-size: larger;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    /* max-width: 300px; */
    /* overflow-wrap: calc(100% - 20px); */
}

.leaflet-tooltip{
    width: 300px;
    white-space: normal;
}

/** Begin site dialog **/
#dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.24);
	padding-top: 20px;
}

/*
keep focus in dialog
https://css-tricks.com/a-css-approach-to-trap-focus-inside-of-an-element/
 */
#dialog:not(:focus-within) {
	background-color:rgba(0, 0, 0, 0.25);
	transition: background-color 0.01s;
}

#dialog .iframe-container {
	height: 500px;
	border-radius: 5px;
	padding: 10px 0px;
	background: #fff;
	margin-bottom: 10px;
    padding-right: 20px;
	position: relative;
}

#dialog iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.overflowHidden {
	overflow: hidden !important;
}

.close-dialog {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 20px;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: #000;
	overflow: hidden;
}

.close-dialog:hover, .close-dialog:focus {
	color: #797979;
}

blockquote {
	font-style: italic;
}

/** End site dialog **/

.container {
	max-width: 54em;
	padding: 0 6em 1.5em;
	margin: 0 auto;
}

.prologue {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    line-height: 1.5;
    color: #525252;
    padding: 25px;
}

.about {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    padding-top: 25px;
}

@media screen and (max-width: 56em) {
	.container {
		padding: 0 2em 1.5em;
	}
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 1.5em 1.5em;
    }
}

.hidden {
    display: none;
}

/* .leaflet-marker-icon { 
    opacity: 0.4;
    filter: hue-rotate(140deg); 
} */

.leaflet-marker-icon {
    filter: hue-rotate(140deg); 
    opacity: 0;                 /* Start fully transparent */
    transition: opacity 6s;     Or however long you want the fade
  }

  .leaflet-marker-shadow {
    opacity: 0;                 /* Start fully transparent */
    transition: opacity 6s;
  }

/* Hamburger Icon */
       .leaflet-control-hamburger {
            background: #fff;
            border: 2px solid rbga(0,0,0,0.2);
            border-radius: 2px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.4);
            cursor: pointer;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-clip: padding-box;
            margin-bottom: 10px; /* Add spacing between hamburger and zoom controls */
        }
        
        .leaflet-control-hamburger:hover {
            background: #f4f4f4;
        }
        
        .hamburger-icon {
            width: 18px;
            height: 2px;
            background-color: #333;
            position: relative;
            display: inline-block;
        }
        
        .hamburger-icon::before,
        .hamburger-icon::after {
            content: '';
            position: absolute;
            left: 0;
            width: 18px;
            height: 2px;
            background-color: #333;
        }
        
        .hamburger-icon::before {
            top: -6px;
        }
        
        .hamburger-icon::after {
            top: 6px;
        }